<form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">
  
  <div class="field" [ngClass]="{'has-error': feedbackEnabled && searchQueryField.errors}">
    <input type="text" placeholder="Search your music here" name="searchQuery" [(ngModel)]="searchQuery" #searchQueryField="ngModel" required [disabled]="processing"/>
    <div *ngIf="feedbackEnabled && searchQueryField.errors">
      <p *ngIf="searchQueryField.errors.required" class="validation"></p>
    </div>
  </div>

  <div class="field submit">
    <button type="submit" [disabled]="processing">Submit</button>
  </div>
</form>

<div class="no results" *ngIf="!results">
    <p>Please try again. There were no results</p>
</div>

<div *ngIf="results">
  <table class="table" ts-wrapper>
    <thead>
      <tr>
        <th></th>
        <th>Song name</th>
        <th>Artist</th>
        <th>Album name</th>
        <th>Release date</th>
        <th>Cover</th>
        <th><a (click)="sortBy('time')">Time</a></th>
        <th><a (click)="sortBy('genre')">Genre</a></th>
        <th><a (click)="sortBy('price')">Price</a></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of results.results">
        <td><a [routerLink]="['/player']" (click)="getId(i)">{{ result.trackName }}</a></td>
        <td>{{ result.artistName }}</td>
        <td>{{ result.collectionName }}</td>
        <td>{{ result.releaseDate | date }}</td>
        <td><img src="{{ result.artworkUrl100 }}" alt="Album cover"></td>
        <td>{{ result.trackTimeMillis | date: 'm:ss' }}</td>
        <td>{{ result.primaryGenreName }}</td>
        <td>{{ result.trackPrice | currency }}</td>
      </tr>
    </tbody>
  </table>
</div>


