.container {
 display: grid;
}

.container-main {
  display: flex;
  justify-content: center;
}

img.album-cover {
  width: 150px;
  height: 150px;
  border-radius: 6px;
  border: .5px solid rgba(0,0,0,.1);
  z-index: 1;
  text-align: center;
}

.albumplayer {
  padding-top: 10px;
}

#playlist td:first-child {
  padding-right: 15px;
}

td {
  height: 50px;
  vertical-align: middle;
  padding-left: 20px;
}

.duration {
  padding-left: 20px;
  padding-right: 20px;
}

#buttons-player {
  text-align: center;
}

.btn {font-size: 20px;
      width: 3cm;
      height: 2cm;  
} 


.list-search {
  cursor: pointer;
  transition: 0.3s ease all;
  &:hover {
    background: lightgray;
    transition: 0.3s ease all;
  }
}

#site-footer{
  color: white;
  background-color: #b7b7b7;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 15px 0;

  li {
    padding: 0 5px;
    font-size: 12px;
    list-style: none;
    text-decoration: none;
    display: inline-block;
  }
  
  a {
    color: white;
  }

  .social-media img {
    width: 24px;
    margin-bottom: 0;
  }
} 