<div class="card">
  <div class="card-image">
    <img src="{{ result.artworkUrl100 }}" alt="Album cover">
  </div>
  <div class="card-body">
    <h3 class="album">{{ result.collectionName | truncate:[75, '...']  }}</h3>
    <h2 class="artist-track">{{ result.artistName | truncate:[30, '...'] }} - {{ result.trackName | truncate:[30, '...'] }}</h2>
    <h5 class="genre">{{ result.primaryGenreName }}</h5>
    <p class="release"><strong>Release date:</strong> {{ result.releaseDate | date }}</p>
    <p class="length"><strong>Song Length:</strong> {{ result.trackTimeMillis | date: 'm:ss' }}</p>
    <p class="price"><strong>{{ result.trackPrice | currency }}</strong></p>
  </div>
  <a [routerLink]="['/track', result.trackId]" class="card-link"></a>
</div>